html { overflow-y: scroll; }
body { position: absolute; }

.down {
    margin: 0;
    position: relative;
    top: 50%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
  }

  input.ng-invalid.ng-touched{
    border: red 1px solid;
  }

  #container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myForm {
    min-width: 40vh;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  