@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  mat-select {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
    textarea {
      min-height: 100px; 
    }
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
  }